
body{
  background-image: url('../assets/dot-grid.png');
  width: 100%;
  height: 100%;
}
*{
  font-family: 'Quicksand', sans-serif;
}
html{
  scroll-behavior: smooth;
}
*,div{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media screen and (max-width:1280px){
  
}